@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #fafafa;
}

a {
  text-decoration: none;
}

h3 {
  width: 100%;
  padding: 2rem 0;
  margin-bottom: 5rem;
  border-bottom: 1px solid #d0d6d9;
  font-weight: bold;
  font-size: 1.6rem;
}

/* head */
.nav {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.nav div {
  box-sizing: border-box;
  flex: 0 0 50%;
  padding: 0.5rem;
}

.nav .nav-word {
  display: flex;
  align-items: center;
  color: #29b078;
}

.nav .Navbar1 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1%;
}

.nav .Navbar1 .Navbar1-b,
.nav .Navbar1 .Navbar2-b,
.nav .Navbar1 .Navbar3-b {
  background: url("../images/src/技能树首页雪碧_01.jpg") no-repeat -1%;
  height: 2.6rem;
  width: 2.6rem;
  border: none;
}

.nav .Navbar1 .Navbar2-b {
  background: url("../images/src/技能树首页雪碧_01.jpg") no-repeat 50%;
  margin: 0 2vw;
}

.nav .Navbar1 .Navbar3-b {
  background: url("../images/src/技能树首页雪碧_01.jpg") no-repeat 100%;
  margin-right: 1rem;
}

/* 导航栏 */
.navbar {
  background-color: #29b078;
  padding: 0;
}

.navbar .nav-box {
  text-align: right;
  width: 85%;
  margin: 0 auto;
  position: relative;
}

.navbar .nav-box input {
  display: none;
}

.navbar .nav-box label {
  display: none;
}

.navbar .nav-box label .btn-pic {
  width: 3rem;
  height: 3rem;
}

.navbar .nav-box .nav-pic {
  position: absolute;
  top: 25px;
}

.nav-list {
  margin: 0;
  padding: 0;
  display: flex;
  /* flex-direction: row-reverse; */
  justify-content: flex-end;
}

.nav-list li {
  list-style: none;
  font-size: 1.6rem;
  margin-bottom: 4px;
  padding: 4rem 2rem;
}

.nav-list li a {
  text-decoration-line: none;
  color: white;
}

.nav-list li:hover {
  border-bottom: 4px solid white;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .navbar {
    background-color: #29b078;
    width: 100%;
    height: auto;
  }
  input:checked ~ .nav-list {
    display: block;
  }
  input:checked ~ .nav-list li {
    clear: both;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navbar > .nav-box > label {
    display: inline-block;
    margin: 4rem 1rem;
  }
  .nav-list {
    display: none;
  }
}

@media (max-width: 250px) {
  .nav-pic {
    display: none;
  }
}

/* nav-center */
.nav-center {
  width: 85%;
  margin: 0rem auto;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
}

.nav-center div {
  box-sizing: border-box;
  flex: 0 0 100%;
}

.nav-center .nav-boxa {
  padding: 2rem 0;
  border-bottom: 1px solid #d0d6d9;
  font-weight: bold;
  font-size: 1.6rem;
}

.nav-center .nav-boxb {
  padding: 2rem 0;
  border-bottom: 1px solid #edf1f2;
}

.nav-center .nav-boxb a {
  text-decoration: none;
  color: black;
}

.nav-center .nav-boxb a:hover {
  color: white;
  background-color: #29b078;
}

.nav-center .nav-boxb a span {
  margin: 0 5px;
}

h3 {
  width: 100%;
  padding: 2rem 0;
  margin-bottom: 5rem;
  border-bottom: 1px solid #d0d6d9;
  font-weight: bold;
  font-size: 1.6rem;
}

/* 表格内容 */
.main-two {
  width: 87%;
  margin: 3rem auto;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
}

.main-two .vocation {
  box-sizing: border-box;
  flex: 0 0 31%;
  margin: 2rem 1%;
}

.main-two .vocation .big-box {
  position: relative;
  border: 1px solid #def1f2;
  background-color: white;
  overflow: hidden;
}

.main-two .vocation .big-box .word-and-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.main-two .vocation .big-box .word-and-photo .photo {
  zoom: .7;
  margin-right: 10px;
}

.main-two .vocation .big-box .word-and-photo .photo-one {
  font-weight: bold;
  font-size: initial;
  margin-bottom: 1rem;
}

.main-two .vocation .big-box .word-and-photo .photo-two {
  word-break: break-all;
}

.main-two .vocation .big-box .wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(40px, auto);
}

.main-two .vocation .big-box .wrapper div {
  border: 1px solid #def1f2;
  color: #a1a1a1;
  display: flex;
  align-items: center;
  /* 清除网格边框 */
  margin-left: -1px;
  margin-top: -1px;
}

.main-two .vocation .big-box .wrapper div p {
  /* grid内左右间距 */
  padding: 0 5px;
}

.main-two .vocation .big-box .wrapper div .pic {
  margin-left: 5px;
}

.main-two .vocation .big-box .wrapper div .colour {
  color: black;
}

.main-two .vocation .big-box .wrapper div .colour span {
  color: red;
}

.main-two .vocation .big-box .wrapper .box-one {
  grid-column: 1/4;
  grid-row: 1;
  display: flex;
}

.main-two .vocation .big-box .wrapper .box-two {
  grid-column: 4/7;
  grid-row: 1;
}

.main-two .vocation .big-box .wrapper .box-three {
  grid-column: 1/4;
  grid-row: 2/3;
}

.main-two .vocation .big-box .wrapper .box-four {
  grid-column: 4/7;
  grid-row: 2/3;
}

.main-two .vocation .big-box .wrapper .box-five {
  grid-column: 1/3;
  grid-row: 3/6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-two .vocation .big-box .wrapper .box-six {
  grid-column: 3/7;
  grid-row: 3/4;
}

.main-two .vocation .big-box .wrapper .box-seven {
  grid-column: 3/7;
  grid-row: 4/5;
}

.main-two .vocation .big-box .wrapper .box-eight {
  grid-column: 3/7;
  grid-row: 5/6;
}

.main-two .vocation .big-box .wrapper .box-six,
.main-two .vocation .big-box .wrapper .box-seven,
.main-two .vocation .big-box .wrapper .box-eight {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.main-two .vocation .big-box .wrapper .box-nine {
  grid-column: 1/7;
  grid-row: 6/7;
  font-size: 16px;
}

.main-two .vocation .big-box .wrapper .box-ten {
  grid-column: 1/7;
  grid-row: 7/8;
}

.main-two .vocation .big-box .animation {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  margin: 0;
  background-color: black;
  opacity: .6;
  /* 名称 周期时间 速度曲线 开始时间 次数 逆向 */
  animation: myfirst 2s linear 0s 1 normal;
  display: none;
}

.main-two .vocation .big-box .animation div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  font-size: 16px;
  color: white;
}

.main-two .vocation .big-box .animation div p {
  margin: 1rem;
}

@keyframes myfirst {
  0% {
    left: 100%;
  }
  25% {
    left: 75%;
  }
  50% {
    left: 50%;
  }
  75% {
    left: 25%;
  }
  100% {
    left: 0px;
  }
}

.main-two .vocation:hover .animation {
  display: block;
}

@media (max-width: 768px) {
  .main-two .vocation {
    box-sizing: border-box;
    flex: 0 0 100%;
  }
  .main-two .vocation:nth-of-type(3n-1) {
    margin: 0;
  }
}

/* footer */
footer {
  background-color: #26a26f;
  color: white;
  font-size: 1.6rem;
  margin-top: 16rem;
}

footer .foot {
  width: 85%;
  margin: 0 auto;
  padding: 3rem;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
}

footer .foot .foot-box {
  box-sizing: border-box;
  flex: 0 0 33%;
}

footer .foot .foot-box .foot-left {
  display: flex;
  justify-content: flex-start;
}

footer .foot .foot-box .web1,
footer .foot .foot-box .web2 {
  padding-top: 3rem;
  font-size: 1.4rem;
}

footer .foot .foot-box .web1 a {
  text-align: left;
  margin: 0 1rem;
  color: white;
}

footer .foot .foot-box .web1 a:nth-child(1) {
  margin-left: 0;
}

footer .foot .foot-box .web2 p {
  margin-bottom: 1rem;
}

footer .foot .foot-box .web2 p a {
  margin-right: 2rem;
  color: white;
}

footer .foot .foot-box .web2 p a:hover {
  border-bottom: 1px solid white;
}

footer .foot .web3 {
  text-align: center;
}

@media (max-width: 800px) {
  footer .foot .foot-box {
    flex: 0 0 100%;
  }
}

footer .copyright {
  text-align: center;
  border-top: 1px solid #32c086;
  font-size: 1.2rem;
  padding: 0.5rem;
}
