* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

header {
  height: 8rem;
  line-height: 8rem;
  color: white;
  background-color: #5FC0CD;
  text-align: center;
  font-size: 3.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header:after {
  content: "";
}

header a {
  float: left;
  position: relative;
  height: 0px;
  width: 0px;
  border-top: 19px solid transparent;
  border-right: 20px solid white;
  border-bottom: 20px solid transparent;
  margin-left: 1vw;
}

header a:after {
  content: '';
  position: absolute;
  top: -18px;
  left: 4px;
  border-top: 18px solid transparent;
  border-right: 19px solid #5FC0CD;
  border-bottom: 19px solid transparent;
}

img {
  zoom: 2;
}

.wrapper-one {
  background: url("../images/src/task5-1_01.png") no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  height: 33rem;
  color: white;
  font-size: 3.6rem;
}

.wrapper-one .wrapper-box1 {
  background: url("../images/src/task5-1_02.png") no-repeat;
  height: 17rem;
  width: 17rem;
  background-size: cover;
  margin: 0 2rem 0 2rem;
  border-radius: 100px;
}

.wrapper-one .wrapper-box2 .word1 {
  font-size: 2.8rem;
}

.wrapper-one .wrapper-box2 .word2 {
  font-size: 2.4rem;
}

.wrapper-two {
  font-size: 3.2rem;
}

.wrapper-two div p {
  margin: 0 1em 0 1em;
}

.wrapper-two .row1 {
  padding-left: 4%;
  border-bottom: 1px solid #e1e5e7;
  height: 10rem;
  display: flex;
  align-items: center;
}

.wrapper-two .row1 .skill {
  border-left: 4px solid #5FC0CD;
  padding-left: 1em;
}

.wrapper-two .row2,
.wrapper-two .row3,
.wrapper-two .row4 {
  margin-left: 4%;
  border-bottom: 1px solid #e1e5e7;
  display: flex;
  align-items: center;
  height: 10rem;
  word-break: keep-all;
}

.wrapper-two .row2 .house {
  margin-right: 1em;
}

.wrapper-two .row3 {
  color: #999999;
}

.wrapper-two .row3 .facial-r {
  color: red;
}

.wrapper-two .row3 .facial {
  color: black;
}

.wrapper-two .row4 {
  margin-bottom: 22rem;
  color: #999999;
}

.wrapper-two .row4 .facial {
  color: black;
  font-size: 2.4rem;
}

footer {
  display: flex;
  width: 100%;
  position: fixed;
  bottom: 4rem;
  margin: 0 4%;
  font-size: 3.4rem;
}

footer .text,
footer .phone {
  width: 44%;
  height: 8rem;
  border: 1px solid #5FC0CD;
  font-size: 100%;
  border-radius: 5px;
  margin: 0 1%;
}

footer .text {
  background-color: white;
  color: #5FC0CD;
  margin-left: 1vw;
}

footer .phone {
  background-color: #5FC0CD;
  color: white;
  margin: 0 1vw 0 1vw;
}
