$color1: white;
$color2: #5FC0CD;
$color3: #e1e5e7;
$color4: #999999;
$color5: black;

@mixin flexed($content, $items) {
  display: flex;
  justify-content: $content;
  align-items: $items;
}

@mixin wraps {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
}

@mixin border-box($percent) {
  box-sizing: border-box;
  flex: 0 0 $percent;
}

* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #fafafa;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 2rem;
    text-align: center;
}

/* head */
.nav {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    div {
        box-sizing: border-box;
        flex: 0 0 50%;
        padding: 0.5rem;
    }
    .nav-word {
        display: flex;
        align-items: center;
        color: #29b078;
    }
    .Navbar1 {
        @include flexed(flex-end, center);
        padding-right: 1%;
        .Navbar1-b,
        .Navbar2-b,
        .Navbar3-b {
            background: url("../images/src/技能树首页雪碧_01.jpg") no-repeat -1%;
            height: 2.6rem;
            width: 2.6rem;
            border: none;
        }
        .Navbar2-b {
            background: url("../images/src/技能树首页雪碧_01.jpg") no-repeat 50%;
            margin: 0 2vw;
        }
        .Navbar3-b {
            background: url("../images/src/技能树首页雪碧_01.jpg") no-repeat 100%;
        }
    }
}

/* 导航栏 */
.navbar {
    background-color: #29b078;
    padding: 0;
    .nav-box {
        text-align: right;
        width: 80%;
        margin: 0 auto;
        position: relative;
        input {
            display: none;
        }
        label {
            display: none;
            .picss {
                width: 3rem;
                height: 3rem;
            }
        }
        .nav-pic {
            position: absolute;
            top: 25px;
        }
    }
}

.nav-list {
    margin: 0;
    padding: 0;
    display: flex;
    /* flex-direction: row-reverse; */
    justify-content: flex-end;
    li {
        list-style: none;
        font-size: 1.6rem;
        margin-bottom: 4px;
        padding: 4rem 2rem;
        a {
            text-decoration-line: none;
            color: white;
        }
        &:hover {
            border-bottom: 4px solid white;
            margin-bottom: 0;
        }
    }
}

@media (max-width:768px) {
    .navbar {
        background-color: #29b078;
        width: 100%;
        height: auto;
    }
    input:checked~.nav-list {
        display: block;
    }
    input:checked~.nav-list li {
        clear: both;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navbar>.nav-box>label {
        display: inline-block;
        margin: 4rem 1rem;
    }
    .nav-list {
        display: none;
    }
}

@media (max-width: 250px) {
    .nav-pic {
        display: none;
    }
}

/* 轮播图 */
section ul,
section li {
    list-style: none;
    padding: 0;
}

.floatfix {
    *zoom: 1;
}

.floatfix:after {
    content: "";
    display: table;
    clear: both;
}

/*slider start*/
.slider-contaner {
    width: 100%;
    position: relative;
}

.slider-item+.slider-item {
    opacity: 0;
}

.slider-item {
    width: 100%;
    position: absolute;
    animation-timing-function: linear;
    animation-name: fade;
    animation-iteration-count: infinite;
    background-size: 100%;
    background-repeat: no-repeat;
}

.focus-container {
    position: absolute;
    z-index: 7;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.focus-container li {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    float: left;
    margin: 0 .2rem;
    background: #fff;
}

.focus-item {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    animation-timing-function: linear;
    animation-name: fade;
    animation-iteration-count: infinite;
}

.focus-item2,
.focus-item3,
.focus-item4,
.focus-item5 {
    opacity: 0;
}

/*设置轮播焦点的位置*/
.focus-container {
    bottom: 2%;
    display: flex;
    justify-content: center;
}

/*设置当前图片焦点的颜色*/
.focus-item {
    background: #51B1D9;
}

/*设置动画，请根据实际需要修改秒数*/
.slider-item,
.focus-item {
    animation-duration: 20s;
}

.slider-item1,
.focus-item1 {
    animation-delay: -1s;
}

.slider-item2,
.focus-item2 {
    animation-delay: 3s;
}

.slider-item3,
.focus-item3 {
    animation-delay: 7s;
}

.slider-item4,
.focus-item4 {
    animation-delay: 11s;
}

.slider-item5,
.focus-item5 {
    animation-delay: 15s;
}

@keyframes fade {
    0% {
        opacity: 0;
        z-index: 2;
    }

    5% {
        opacity: 1;
        z-index: 1;
    }

    20% {
        opacity: 1;
        z-index: 1;
    }

    25% {
        opacity: 0;
        z-index: 0;
    }

    100% {
        opacity: 0;
        z-index: 0;
    }
}

/*设置背景，响应式请利用媒体查询根据断点修改路径*/
.slider-item1 {
    background-image: url("../images/src/技能树首页_背景0.jpg");
}

.slider-item2 {
    background-image: url("../images/src/jnshu1.jpg");
}

.slider-item3 {
    background-image: url("../images/src/jnshu2.jpg");
}

.slider-item4 {
    background-image: url("../images/src/jnshu3.jpg");
}

.slider-item5 {
    background-image: url("../images/src/飞机.jpg");
}

/*设置图片的高度，请根据具体需要修改百分比，响应式及时修改此值*/
.slider,
.slider-item {
    padding: 0;
    padding-bottom: 30%;
}

.banner-arrow {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 40%;
}

.banner-left {
    width: .2rem;
    height: .35rem;
    background-image: url(../image/beijing.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 999;
}

.banner-right {
    width: .2rem;
    height: .35rem;
    background-image: url(../image/beijing.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 999;
}

/* box-sprites */
.box-sprites {
    width: 80%;
    margin: 5rem auto;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    .box-part {
        box-sizing: border-box;
        flex: 0 0 25%;
        width: 100%;
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .pic1,
        .pic2,
        .pic3 {
            width: 6rem;
            height: 7rem;
        }
        .pic1 {
            background: url("../images/src/技能树首页雪碧_02.jpg") no-repeat -1%;
        }
        .pic2 {
            background: url("../images/src/技能树首页雪碧_02.jpg") no-repeat 50%;
        }
        .pic3 {
            background: url("../images/src/技能树首页雪碧_02.jpg") no-repeat 100%;
        }
        .word {
            height: 30%;
        }
        h3 {
            font-size: 1.6rem;
            padding: 2rem;
        }
    }

    .final {
        border-left: 1px dashed #dedede;
        color: #29b078;
        .word-two1 {
            padding-top: 6rem;
        }
        .word-two2 {
            padding: 3rem;
        }
        .word-three {
            color: black;
        }
    }
    @media (max-width: 800px) {
        .box-part {
            flex: 0 0 50%;
        }
    }
    @media (max-width: 600px) {
        .box-part {
            flex: 0 0 100%;
        }
    }
}

/* box-center */
.box-center {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    .process {
        box-sizing: border-box;
        flex: 0 0 25%;
        width: 25%;
        display: flex;
        align-items: center;
        /* margin: 2rem 0; */
        .b1 {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 2rem;
            margin: 1rem;
            width: 1rem;
            height: 1rem;
            border: 1px solid #eeeeee;
            border-radius: 50%;
            box-shadow: 0 0 5px #888888;
            background-color: white;
        }
        .b2 {
            width: 100%;
            text-align: left;
            margin: auto 0;
            font-size: 1.4rem;
        }
        .b3 {
            background: url("../images/src/技能树首页_07.jpg") no-repeat;
            background-position: center;
            width: 3rem;
            height: 3rem;
            zoom: .7;
            padding: 1px;
        }
    }
    @media (max-width: 800px) {
        .process {
            flex: 0 0 50%;
        }
    }
    
    @media (max-width: 600px) {
        .process {
            flex: 0 0 100%;
        }
    }
}

/* box-next */
.box-next {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    .resume {
        box-sizing: border-box;
        flex: 0 0 25%;
        .box {
            padding: 3rem;
            margin: 0.5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: white;
            box-shadow: 0 0 1px 1px #eeeded;
            .photo1,
            .photo2,
            .photo3,
            .photo4 {
                height: 11rem;
                width: 11rem;
                zoom: .7;
                margin-bottom: 3rem;
            }
            .photo1 {
                background: url("../images/src/技能树首页雪碧_03.jpg") no-repeat 0 -6px;
            }
            
            .photo2 {
                background: url("../images/src/技能树首页雪碧_03.jpg") no-repeat 33% 0;
            }
            
            .photo3 {
                background: url("../images/src/技能树首页雪碧_03.jpg") no-repeat 66% 0;
            }
            
            .photo4 {
                background: url("../images/src/技能树首页雪碧_03.jpg") no-repeat 100% 0;
            }
            .name {
                font-size: 1.8rem;
            }
            .working {
                color: #999999;
                font-size: 1.6rem;
            }
        }
    }
    @media (max-width: 800px) {
        .resume {
            flex: 0 0 50%;
        }
    }
    
    @media (max-width: 600px) {
        .resume {
            flex: 0 0 100%;
        }
    }
}

.last-drop {
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 1vw;
    a {
        float: left;
        width: 1.2rem;
        height: 1.2rem;
        margin: 0 3px;
        border-radius: 5rem;
        background-color: white;
        border: 1px solid #eeeded;
        box-shadow: 0 0 1px 1px #eeeded;
        &:hover {
            background-color: #29b078;
        }
    }
}

/* box-logo */
.box-logo {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    .main-four {
        box-sizing: border-box;
        flex: 0 0 20%;
        width: 100%;
        background-color: white;
        padding: 2px;
        a {
            width: 100%;
            padding: 5.5rem 0;
            display: flex;
            justify-content: center;
            align-items: center;
            .company1,
            .company2,
            .company3,
            .company4,
            .company5 {
                width: 17.5rem;
                height: 6rem;
                zoom: .8;
            }
            .company1 {
                background: url("../images/src/技能树首页雪碧_04.jpg") no-repeat -2%;
            }
            
            .company2 {
                background: url("../images/src/技能树首页雪碧_04.jpg") no-repeat 23%;
            }
            
            .company3 {
                background: url("../images/src/技能树首页雪碧_04.jpg") no-repeat 50%;
            }
            
            .company4 {
                background: url("../images/src/技能树首页雪碧_04.jpg") no-repeat 77%;
            }
            
            .company5 {
                background: url("../images/src/技能树首页雪碧_04.jpg") no-repeat 102%;
            }
            &:hover {
                box-shadow: 0 0 10px 2px #999999;
            }
        }
    }
    @media (max-width: 800px) {
        .main-four {
            flex: 0 0 100%;
        }
    }
}

/* box-last */
.box-last {
    margin-top: 9rem;
    padding: 1rem;
    background-color: white;
    ul {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-flow: row wrap;
        align-content: flex-start;
        /* align-content: space-between; */
        li {
            width: 10%;
            margin: 0.5rem 0;
            color: #999999;
            a {
                color: #999999;
                &:hover {
                    color: black;
                    border-bottom: 1px solid #26a26f;
                }
            }
        }
        @media (max-width: 800px) {
            .hot {
                width: 25%;
            }
        }
        
        @media (max-width: 600px) {
            .hot {
                width: 50%;
            }
        }
        @media (max-width: 450px) {
            .hot {
                text-align: center;
                width: 100%;
            }
        }
    }
}

/* footer */
footer {
    background-color: #26a26f;
    color: white;
    font-size: 1.6rem;
    .foot {
        width: 80%;
        margin: 0 auto;
        padding: 3rem;
        display: flex;
        flex-flow: row wrap;
        align-content: flex-start;
        .foot-box {
            box-sizing: border-box;
            flex: 0 0 33%;
            .foot-left {
                display: flex;
                justify-content: flex-start;
            }
            .web1,
            .web2 {
                padding-top: 3rem;
                font-size: 1.4rem;
            }
            .web1 a {
                text-align: left;
                margin: 0 1rem;
                color: white;
                &:nth-child(1) {
                    margin-left: 0;
                }
            }
            .web2 p {
                margin-bottom: 1rem;
                a {
                    margin-right: 2rem;
                    color: white;
                    &:hover {
                        border-bottom: 1px solid white;
                    }
                }
            }
        }
        .web3 {
            text-align: center;
        }
        @media (max-width: 800px) {
            .foot-box {
                flex: 0 0 100%;
            }
        }
    }
    .copyright {
        text-align: center;
    }
}








