$color1: white;
$color2: #5FC0CD;
$color3: #e1e5e7;
$color4: #999999;
$color5: black;


* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

header {
    height: 8rem;
    line-height: 8rem;
    color: $color1;
    background-color: $color2;
    text-align: center;
    font-size: 3.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:after {
        content: "";
    }

    a {
        float: left;
        position: relative;
        height: 0px;
        width: 0px;
        border: {
            top: 20px solid transparent;
            right: 20px solid $color1;
            bottom: 20px solid transparent;
        }
        margin-left: 1vw;

        &:after {
            content: '';
            position: absolute;
            top: -19px;
            left: 4px;
            border: {
                top: 19px solid transparent;
                right: 19px solid $color2;
                bottom: 19px solid transparent;
            }
        }
    }
}
    
img {
    zoom: 2;
}

.wrapper-one {
    background: url("../images/src/task5-1_01.png") no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    height: 33rem;
    color: $color1;
    font-size: 3.6rem;

    .wrapper-box1 {
        background: url("../images/src/task5-1_02.png") no-repeat;
        height: 17rem;
        width: 17rem;
        background-size: cover;
        margin: 0 2rem 0 2rem;
        border-radius: 100px;
    }

    .wrapper-box2 {

        .word1 {
            font-size: 2.8rem;
        }
    
        .word2 {
            font-size: 2.4rem;
        }
    }
}

.wrapper-two {
    font-size: 3.2rem;

    div p {
        margin: 0 1em 0 1em;
    }

    .row1 {
        padding-left: 4%;
        border-bottom: 1px solid $color3;
        height: 10rem;
        display: flex;
        align-items: center;
        .skill {
            border-left: 4px solid $color2;
            padding-left: 1em;
        }
    }

    .row2,
    .row3,
    .row4 {
    margin-left: 4%;
    border-bottom: 1px solid $color3;
    display: flex;
    align-items: center;
    padding: 2rem 0;
    word-break: keep-all;
    }

    .row2 .house {
        margin-right: 1em;
    }

    .row3 {
        color: $color4;
        .facial-r {
            color: red;
        }
        .facial {
            color: $color5;
        }
    }

    .row4 {
        margin-bottom: 22rem;
        color: $color4;
        .facial {
            color: $color5;
            font-size: 2.4rem;
        }
    }
}

footer {
    display: flex;
    width: 100%;
    position: fixed;
    bottom: 4rem;
    margin: 0 4%;
    font-size: 3.4rem;

    .text,
    .phone {
        width: 44%;
        height: 8rem;
        border: 1px solid $color2;
        font-size: 100%;
        border-radius: 5px;
        margin: 0 1%;
    }

    .text {
        background-color: $color1;
        color: $color2;
        margin-left: 1vw;
    }

    .phone {
        background-color: $color2;
        color: $color1;
        margin: 0 1vw 0 1vw;
    }
}








