* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

/* header */
header {
    height: 4.4rem;
    line-height: 4.4rem;
    color: #ffffff;
    background-color: #5FC0CD;
    text-align: center;
    font-size: 1.8rem;
}

header a {
    float: left;
    color: #ffffff;
    text-decoration: none;
    margin-left: 1vw;
}

.one {
    background: url("../images/src/task5-1_01.png") no-repeat fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    height: 16.5rem;
    color: white;
}

/* main one */
.box1 {
    background: url("../images/src/task5-1_02.png") no-repeat;
    height: 8.5rem;
    width: 8.5rem;
    background-size: cover;
    margin: 0 1rem 0 1rem;
    border-radius: 100px;
}

.box2 {
    font-size: 1.6rem;
}

.box3 {
    font-size: 1.4rem;
}

.two {
    font-size: 1.2rem;
}

.row1 {
    padding-left: 1.5rem;
    border-bottom: 1px solid #e1e5e7;
    height: 5rem;
    display: flex;
    align-items: center;
}

.blue {
    border-left: 4px solid #5FC0CD;
    padding-left: 1em;
}

/* main two */
.xing {
    margin-right: 1em;
}

p {
    margin: 0 1em 0 1em;
}

.row2,
.row3,
.row4 {
    margin-left: 1.5rem;
    border-bottom: 1px solid #e1e5e7;
    display: flex;
    align-items: center;
    /*  */
    word-break: keep-all;
}

.row2,
.row3 {
    height: 5rem;
}

.row3,
.row4 {
    color: #999999;
}

.row4 {
    margin-bottom: 22rem;
    padding: 1.8rem 0;
}

.red {
    color: red;
}

.black {
    color: black;
}

/* footer */
footer {
    display: flex;
    width: 100%;
    position: fixed;
    bottom: 2rem;
    margin: 0 4%;
}

.text,
.phone {
    width: 44%;
    height: 4.4rem;
    border: 1px solid #5FC0CD;
    font-size: 100%;
    border-radius: 8px;
    margin: 0 1%;
}

.text {
    background-color: white;
    color: #5FC0CD;
    margin-left: 1vw;
}

.phone {
    background-color: #5FC0CD;
    color: #ffffff;
    margin: 0 1vw 0 1vw;
}