* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
    color: white;
}

img {
    zoom: .5;
}

header {
    height: 4.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #74d4eb;
    color: white;
    padding: 0 1vw;
    font-size: 1.7rem;
    background-color: #29bde0;
}

main {
    background-color: #29bde0;
}

.photo {
    background: url("../images/src/结果页_03.png") no-repeat;
    zoom: .5;
    background-position: center;
    display: flex;
    align-items: center;
    height: 25rem;
    padding: 1vw 0;
}

.duiqi {
    text-align: center;
}

.result {
    display: inline-block;
    text-align: left;
    font-size: 1.6rem;
    margin: 0 5vw;
    color: #ffc865;
}

.boxs {
    margin: 5rem 0 0 5rem;
    padding: 1rem 0;
    font-size: 1.3rem;
    color: white;
}

.last-p {
    margin-bottom: 1rem;
}

/*  */
.time {
    background-color: white;
    padding-left: 5rem;
    height: 8.5rem;
    border-bottom: 1px solid #dddddd;
}

.box1 {
    display: flex;
    justify-content: space-between;
}

.one,
.two {
    display: inline-block;
    margin-top: 1rem;
    /*  */
    font-size: 1.5rem;
}

.two {
    margin-right: 5vw;
    font-size: 1.3rem;
    color: #d6d6d6;
}

.time1 {
    margin: 1rem 0;
    font-size: 1.3rem;
    color: #a6a6a6;
}

/*  */
footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 6.5rem;
    background-color: rgba(41, 189, 244, .5);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.b1,
.b2 {
    width: 40%;
    margin: 0 5vw;
    height: 66%;
    border: none;
    border-radius: 10px;
    font-size: 2rem;
}

.b1 {
    background-color: #f66f6f;
}

.b2 {
    background-color: #fbb425;
}