* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #fafafa;
}

a {
    text-decoration: none !important;
}

a:hover {
    color: white;
}

/* head */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.n1 {
    margin-left: 15%;
    color: #29b078;
}

.Navbar1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 17%;
    margin-right: 1%;
}

.Navbar1-b {
    background: url("../images/src/技能树首页雪碧_01.jpg") no-repeat 0%;
    height: 2.6rem;
    width: 2.6rem;
    border: none;
}

.Navbar2-b {
    background: url("../images/src/技能树首页雪碧_01.jpg") no-repeat 50%;
    height: 26px;
    width: 26px;
    border: none;
    margin: 0 2vw;
}

.Navbar3-b {
    background: url("../images/src/技能树首页雪碧_01.jpg") no-repeat 100%;
    height: 26px;
    width: 26px;
    border: none;
}

/* 导航栏 */
.Navbar2 {
    height: 10rem;
    background-color: #29b078;
    display: flex;
    justify-content: flex-end;
    padding-right: 17%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Navbar2-li {
    width: 6.3%;
    height: 10rem;
    line-height: 10rem;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
}

.Navbar2-li a {
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: white;
}

.Navbar2-li a:hover {
    border-bottom: 4px solid white;
}

/* 轮播图 */
.img-responsive {
    width: 100%;
    /* height: 600px; */
}

.carousel-caption {
    bottom: 30%;
}

.title {
    font-size: 16px;
}

/* 小屏幕（平板，大于等于 768px） */
@media (min-width: screen-sm-min) {
    .carousel-caption {
        font-size: 1.4rem;
    }
}

/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (min-width: screen-md-min) {
    .carousel-caption {
        font-size: 1.8rem;
    }
}

/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: screen-lg-min) {
    .carousel-caption {
        font-size: 2rem;
    }
}

/*  
.carousel-caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}
*/

.carousel-indicators li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.p1,
.p2 {
    /* text-align: right; */
    font-size: 3rem;
    margin: 0 5vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.p2 {
    font-size: 4rem;
}

/* main one */
.one {
    margin-top: 15rem;
    margin-bottom: 7rem;
}

.two {
    margin-top: 3rem;
    margin-bottom: 7rem;
}

.three {
    margin-top: 6rem;
    margin-bottom: 12rem;
}

.four {
    margin-top: 7rem;
    margin-bottom: 9rems;
}

/*  */
.pic-1,
.pic-2,
.pic-3 {
    width: 6rem;
    height: 6rem;
    zoom: .8;
}

.pic-1 {
    background: url("../images/src/技能树首页雪碧_02.jpg") no-repeat 0;
}

.pic-2 {
    background: url("../images/src/技能树首页雪碧_02.jpg") no-repeat 50%;
}

.pic-3 {
    background: url("../images/src/技能树首页雪碧_02.jpg") no-repeat 100%;
}

.part1,
.part2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* 撑大盒子边框 */
    padding: 2rem 0;
}

.part2 {
    border-left: 1px dashed #dedede;
}


.box1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.box1 h5 {
    font-size: 1.6rem;
    margin: 2rem 0;
}

.box2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.box2 span {
    color: #29b078;
}

.word-two1 {
    margin: 4rem 0 2rem 0;
}

/* main two */
.process {
    display: flex;
    align-items: center;
    margin: 2rem 0;
}

.b1 {
    /* 使内容居中 */
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding撑开圆框，防止变形 */
    width: 2rem;
    height: 2rem;
    padding: 2rem;
    margin: 1rem;
    border: 1px solid #eeeeee;
    border-radius: 50%;
    box-shadow: 0 0 5px #888888;
}

.b2 {
    /* 设置100%时，b3图像右对齐，原理不明 */
    width: 100%;
    text-align: left;
    margin: auto 0;
    font-size: 12px;
}

.b3 {
    background: url("../images/src/技能树首页_07.jpg") no-repeat;
    background-position: center;
    width: 3rem;
    height: 3rem;
    zoom: .7;
    padding: 1px;
}

/* main three */
.photo1,
.photo2,
.photo3,
.photo4 {
    height: 11rem;
    width: 11rem;
    zoom: .7;
    margin-bottom: 3rem;
}

.photo1 {
    background: url("../images/src/技能树首页雪碧_03.jpg") no-repeat 0 -6px;
}

.photo2 {
    background: url("../images/src/技能树首页雪碧_03.jpg") no-repeat 33% 0;
}

.photo3 {
    background: url("../images/src/技能树首页雪碧_03.jpg") no-repeat 66% 0;
}

.photo4 {
    background: url("../images/src/技能树首页雪碧_03.jpg") no-repeat 100% 0;
}

.box3 {
    padding: 3rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 1px 1px #eeeded;
}

.working {
    margin: 10px;
    color: #999999;
}

.name {
    font-size: 1.6rem;
}

.last-drop {
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 1vw;
}

.last-drop a {
    float: left;
    width: 12px;
    height: 12px;
    margin: 0 3px;
    border-radius: 5rem;
    background-color: white;
    border: 1px solid #eeeded;
    box-shadow: 0 0 1px 1px #eeeded;
}

.last-drop a:hover {
    background-color: #29b078;
}


/* main four */
.company1,
.company2,
.company3,
.company4,
.company5 {
    width: 17.5rem;
    height: 6rem;
    zoom: .8;
}

.company1 {
    background: url("../images/src/技能树首页雪碧_04.jpg") no-repeat -2%;
}

.company2 {
    background: url("../images/src/技能树首页雪碧_04.jpg") no-repeat 23%;
}

.company3 {
    background: url("../images/src/技能树首页雪碧_04.jpg") no-repeat 50%;
}

.company4 {
    background: url("../images/src/技能树首页雪碧_04.jpg") no-repeat 77%;
}

.company5 {
    background: url("../images/src/技能树首页雪碧_04.jpg") no-repeat 102%;
}

.main-four {
    background-color: white;
    padding: 2px;
}

.main-four a {
    width: 100%;
    padding: 5.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-four a:hover {
    box-shadow: 0 0 10px 2px #f1f1f1;
}

@media (min-width: 768px) {
    .main-four {
        width: 20%;
    }
}

@media (max-width: 768px) {
    .main-four {
        width: 100%;
    }
}

/* main five */
.foot {
    background-color: white;
}

ul {
    display: flex;
    flex-wrap: wrap;
    /* align-content: space-between; */
}

li {
    width: 10%;
    margin-bottom: 1rem;
    color: #999999;
}

li a {
    color: #999999;
}

li a:hover {
    color: black;
    border-bottom: 1px solid #26a26f;
}

@media (max-width: 768px) {
    li {
        width: 20%;
    }
}

@media (max-width: 468px) {
    li {
        text-align: center;
        width: 100%;
    }
}

/* footer */
footer {
    background-color: #26a26f;
    color: white;
}

.row-last {
    /* text-align: center; */
    padding: 3rem 0;
}

.word-left {
    display: flex;
    justify-content: flex-start;
}

.web1,
.web2 {
    padding-top: 3rem;
}

.web1 {
    display: flex;
    justify-content: flex-start;
}

.web1 a {
    /* padding: 0 10px; */
    text-align: left;
    margin: 0 1rem;
    color: white;
}

.web1 a:nth-child(1) {
    margin-left: 0;
}
/*  多余
.web2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
*/
.web2 div {
    margin-bottom: 1rem;
}

.web2 a {
    margin-right: 1rem;
    color: white;
}

.web2 a:hover {
    border-bottom: 1px solid white;
}

.web3 {
    text-align: center;
}

.last {
    text-align: center;
}

div.carousel-item img {
    width: 100%;
}